@import '../../styles/Partials.scss';


.answers {

    border-top: 1px solid #eee;
    width: 60%;
    
    &:hover {
        background-color: $primaryYellow;
        border-radius: 4px;
    }


    &__radioButton {
        position: absolute;
        width: auto;
        opacity: 0;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }

    &__radioLabel {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 1rem 1rem;
        font-size: 16px;
        line-height: 1.5;
        
    }

}