@font-face {
    font-family: "Avenir-regular";
    src: url('../assets//Fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf')
}

@font-face {
    font-family: "Avenir-bold";
    src: url('../assets/Fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf');
    
}

@font-face {
    font-family: "Avenir-demi";
    src: url('../assets/Fonts/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf');
}