* {
    html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    
    *, *:before, *:after { box-sizing: inherit; }
    
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}