$primaryBlue: rgb(214, 237, 252);
$secondaryBlue: rgb(31, 44, 57);
$primaryGreen: rgb(153, 190, 81);
$secondaryGreen: rgb(98, 125, 46);
$primaryYellow: rgb(252, 230, 82);
$alabaster: #fafafa;
$tertiaryBlue: rgb(155, 203, 251);